@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/AnimatedForm.module.css */
form input:focus, form button:focus {
    outline: none;
    border-color: #0070f3;
}

button:hover {
    background-color: #005bb5;
}
